<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>eCommerce</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">eCommerce</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main class="main">
                <ul>
                    <li>product 1</li>
                    <li>product 2</li>
                    <li>product 3</li>
                    <li>product 4</li>
                    <li>product 5</li>
                </ul>
            </main>
            <footer class="footer">
                Made with Love❤️
            </footer>
        </div>
    </body>
</html>